.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: grey;
  cursor: default;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  height: 20px;
}

.even {
  background-color: rgb(192, 192, 191);
}

.odd {
  background-color: rgb(150, 149, 148);
}

.change {
  -webkit-transition: background-color 10s ease;
  -moz-transition: background-color 10s ease;
  -o-transition: background-color 10s ease;
  transition: background-color 10s ease;
}

.path {
  -webkit-transition: background-color 3s ease;
  -moz-transition: background-color 3s ease;
  -o-transition: background-color 3s ease;
  transition: background-color 3s ease;
}